<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto integrador - Nosotros</title>
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu" />

      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/nosotros.html" class="nav-bar__nav-link"
              >Nosotros</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="/views/contacto.html" class="nav-bar__nav-link"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-bar -->

      <div class="search-bar">
        <div class="search-bar__logo-container">
          <img
            src="/img/logo-nico.webp"
            class="search-bar__image-logo"
            alt="logo nico"
          />
        </div>
        <form action="#" class="search-bar__form-container">
          <label for="busqueda" class="search-bar__form-label">Buscar</label>
          <input type="search" class="search-bar__form-search" id="busqueda" />
          <input type="submit" class="search-bar__form-submit" value="Buscar" />
        </form>
        <div class="search-bar__carrito-container">Carro</div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div>
      <!-- .search-bar -->
    </header>
    <!-- main-header -->

    <main class="nosotros">
      <header class="nosotros__header">
        <h1 class="nosotros__h1">Sobre nosotros &#128590; &#128588; </h1>
      </header>

      <div class="nosotros__sobre-nosotros">
        <div class="nosotros__h2-p">
          <h2 class="nosotros__h2">Nuestra Historia</h2>

          <p class="nosotros__parrafo">
            La Pizzería La Mejor Pizza fue fundada en 1995 por Juan y María
            Pérez, inspirados por su amor por la auténtica pizza italiana. Desde
            entonces, hemos crecido de un pequeño local familiar a una de las
            pizzerías más queridas de la ciudad.
          </p>
        </div>

        <div class="nosotros__h2-p">
          <h2 class="nosotros__h2">Nuestra Misión y Valores</h2>

          <p class="nosotros__parrafo">
            En La Mejor Pizza, nuestra misión es ofrecer pizzas deliciosas
            elaboradas con los ingredientes más frescos y de la más alta
            calidad. Nos enorgullecemos de nuestros valores de calidad, servicio
            al cliente y sostenibilidad.
          </p>
        </div>

        <div class="nosotros__h2-image">
          <h2 class="nosotros__h2">Conoce a Nuestro Equipo</h2>

          <div class="nosotros__team-member">
            <img
              src="/img/juan.webp"
              alt="Juan Pérez, fundador y chef principal"
              class="nosotros__image"
              title="Juan Pérez, fundador y chef principal"
            />

            <p class="nosotros_p-pie-de-foto"><strong>Juan Pérez</strong> - Fundador y Chef Principal</p>
          </div>

          <div class="nosotros__team-member">
            <img
              src="/img/maria.webp"
              alt="María Pérez, Co-fundadora"
              class="nosotros__image"
              title="maria, Co-fundadora y Gerente "
            />
            <p class="nosotros_p-pie-de-foto"><strong>María Pérez</strong> - Co-fundadora y Gerente</p>
          </div>
        </div>

        <div class="nosotros__h2-p">
          <h2 class="nosotros__h2">Ingredientes y Proceso</h2>
          <p class="nosotros__parrafo">
            Utilizamos ingredientes frescos y locales para crear nuestras
            pizzas. Nuestro proceso de preparación sigue técnicas tradicionales
            italianas, garantizando una experiencia auténtica en cada bocado.
          </p>
        </div>

        <div class="nosotros__h2-p">
          <h2 class="nosotros__h2">Compromiso con la Comunidad</h2>
          <p class="nosotros__parrafo">
            Nos dedicamos a apoyar a nuestra comunidad local participando en
            eventos y colaborando con organizaciones benéficas. También nos
            esforzamos por ser sostenibles, utilizando empaques reciclables y
            promoviendo prácticas eco-amigables.
          </p>
        </div>

        <div class="nosotros__h2-p">
          <h2 class="nosotros__h2">Testimonios</h2>
          <p class="nosotros__parrafo">
            <span class="nosotros__span"
              >&#10025; &#10025; &#10025; &#10025; &#10025;</span
            >"La mejor pizza que he probado en mi vida! El servicio es excelente
            y el ambiente es muy acogedor." - Ana G.
          </p>
          <p class="nosotros__parrafo">
            <span class="nosotros__span"
              >&#10025; &#10025; &#10025; &#10025; &#10025;</span
            >"¡Amo esta pizzería! Siempre usan ingredientes frescos y el sabor
            es increíble." - Carlos M.
          </p>
        </div>

        <div class="nosotros__h2-image">
          <h2 class="nosotros__h2">Galería</h2>

          <img
            src="/img/foto-local-1.webp"
            alt="Pizzero haciendo pizza"
            class="nosotros__image"
            title="Pizzero haciendo pizza"
          />
          <img
            src="/img/foto-local-2.webp"
            alt="Comensal comiendo"
            class="nosotros__image"
            title="Comensal comiendo"
          />
          <img
            src="/img/foto-local-3.webp"
            alt="Area de nuestro restaurante"
            class="nosotros__image"
            title="Area de nuestro restaurante"
          />
        </div>
      </div> <!-- div.nosotros__sobre-nosotros -->






    </main> <!-- fin main-nosotros -->

    <footer>
      <!-- footer inicio -->
      <div class="footer-header">
        <div class="footer-header__logo-container">
          <img
            src="/img/logo-nico.webp"
            class="footer-header__image-logo"
            alt="logo-nico"
          />
        </div>

        <div class="footer-header__container">
          <div class="footer-header__h3">
            <h3>Conocenos</h3>
          </div>
          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Direccion del local</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">+5499134562112</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Contactanos Whatsapp</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Información legal</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link"
              >Terminos y condiciones de uso</a
            >
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Politica de privacidad</a>
          </div>
        </div>
        <!-- footer-conocenos -->

        <div class="footer-header__container">
          <div class="footer-header__h3">
            <h3>Redes sociales</h3>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Instagram</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Facebook</a>
          </div>
        </div>
        <!-- footer-redes-sociales -->

        <div class="footer-header__container">
          <div class="footer-header__h3"><h3>Mi cuenta</h3></div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Pedir</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Pizza Points</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Mis Pedidos</a>
          </div>

          <div class="footer-header__link-footer">
            <a href="#" class="footer-header__link">Mis direcciones</a>
          </div>
        </div>
        <!-- footer-mi cuenta -->
      </div>
    </footer>
    <!-- footer -->

    <script type="module" src="/main.js"></script>
  </body>
</html>
