*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

body{
    background: linear-gradient(to right, rgba(0, 255, 0, 0.65), rgba(255, 255, 255, 0.65), rgba(255, 0, 0, 0.65));
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  

