:root {
  --amarillo-1: #ebde23;
  --verde-1: #19b028;
  --rojo-1: #e60901;
  --amarillo-2: #ebc000;
}



.contact{

    &__header{
        background-color:var(--rojo-1);
        display: flex;
        justify-content: center;
    }


    &__header-h1-iconos{  
         display: flex;
         flex-direction: row;
    }

        &__h1-contactanos{
            color: white;
            padding-top:0.6em;
            padding-bottom: 1rem;
            font-size: 1.8rem;
            margin-right: 2rem;

            padding-left:0.5rem ;
            padding-right: 0.5rem;
    }
    
        &__redes-sociales{
            width: 3.5rem;
            transition: .4s;

        }


        &__redes-sociales:hover{
            transform: scale(1.15);
            background-color: var(--verde-1);

        }
    
        &__link-svg{
            display: flex;
            justify-content: center;
            align-items: center;
            height:4.43rem;


        }

        &__svg{
            fill: white;
            width: 1.8rem;
            
    
        }

        &__svg:hover{
            fill: var(--rojo-1);
        }
        
        &__svg-h1{fill: white;
            display: inline;
            width: 1.5rem;
        }



    &__form-whatsapp{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
    }

    &__form{
        padding:1rem;
        margin: 1rem;
    }

    &__whatsapp{
        padding:1rem;
        margin: 1rem;
    }



}
